In [1]:
import pandas as pd

In [3]:
df_test = pd.read_csv('/Users/tsunami/glass_view//rawdat/wells_fargo_reviews.csv')

In [4]:
df_test.head(2)

,date,employee_title,location,employee_status,review_title,years_at_company,helpful,pros,cons,advice_to_mgmt,rating_overall,rating_balance,rating_culture,rating_career,rating_comp,rating_mgmt
0,Mon Mar 16 2020 12:39:33 GMT-0400 (Eastern Day...,Business Analyst,"Charlotte, NC",Current Employee,good,I have been working at Wells Fargo full-time f...,2,good place to grow your skill set,micro management can be eased up on,NaN,5.0,4.0,4.0,4.0,4.0,4.0
1,Fri Aug 24 2018 20:34:04 GMT-0400 (Eastern Day...,Branch Manager,"Austin, TX",Current Employee,Coming to work here was the best decision ever.,I have been working at Wells Fargo full-time f...,240,The culture here is phenomenal. The message is...,"Some systems are a bit antiquated, but to be h...",NaN,5.0,5.0,5.0,5.0,4.0,5.0